<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <style>
#session-warning-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#session-warning-modal h3 {
    margin-top: 0;
}

#session-warning-modal button {
    margin-right: 10px;
}

    </style>
</head>
<body>



</body>
</html>